In [ ]:
# Selenium, allows you to control a browser programmatically. Can be used to scrape data.
# Already installed Selenium in virtual environment via terminal. Only imports neccessary here.
%pip install pandas as pd
%pip install --upgrade six
%pip install selenium==3.141.0

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import NoSuchElementException

import time
import pandas as pd
import re
import numpy as np

# Path for the driver saved on my windows computer
driver_path = r"C:\Windows\chromedriver\chromedriver.exe"

# Unlimited amount of rows displayed
pd.set_option('display.max_rows', None)

In [70]:
# Country Project
driver = webdriver.Chrome(executable_path=driver_path)
# Navigate to the website
driver.get("https://www.scrapethissite.com/")

# Perform Actions to get to the required data or text.

button = driver.find_element_by_css_selector("a.btn.btn-lg.btn-default")
button.click() 
time.sleep(1) # Wait for the content to load before moving on in this code.  

link = driver.find_element_by_css_selector("h3.page-title a[href='/pages/simple/']")
link.click()
time.sleep(1)  

# Create an empty DataFrame with the columns you want
columns = ['Country Name', 'Capital', 'Population', 'Area (km\u00b2)']
data = pd.DataFrame(columns=columns)

# Find all country elements
all_countries = driver.find_elements_by_css_selector("div.col-md-4.country")

# Loop through each country element and scrape the data
for country in all_countries:
    country_name = country.find_element_by_css_selector("h3.country-name").text
    country_capital = country.find_element_by_css_selector("span.country-capital").text
    country_population = int(country.find_element_by_css_selector("span.country-population").text)
    area_text = country.find_element_by_css_selector("span.country-area").text
    
    # Use regular expressions to check if the area value is in scientific notation
    if re.match(r'^\d+(?:\.\d+)?E\d+$', area_text):
        # Convert scientific notation to a float using float()
        country_area = float(area_text)
    else:
        # Convert decimal notation to a float using float()
        country_area = float(area_text)
    
# Create a temporary DataFrame for the current country
    temp_df = pd.DataFrame({
        'Country Name': [country_name],
        'Capital': [country_capital],
        'Population': [country_population],
        'Area (km\u00b2)': [country_area]
    })

    # Concatenate the temporary DataFrame with the main DataFrame
    data = pd.concat([data, temp_df], ignore_index=True)
# Close the browser
driver.quit()
data['Area (km\u00b2)'] = data['Area (km\u00b2)'].replace([0, 0.0], np.nan)
data['Persons per area'] = data['Population'] / data['Area (km\u00b2)']
data = data.set_index('Country Name')
# Print the DataFrame
print(data)

                                                          Capital  Population  \
Country Name
Andorra                                          Andorra la Vella       84000
United Arab Emirates                                    Abu Dhabi     4975593
Afghanistan                                                 Kabul    29121286
Antigua and Barbuda                                    St. John's       86754
Anguilla                                               The Valley       13254
Albania                                                    Tirana     2986952
Armenia                                                   Yerevan     2968000
Angola                                                     Luanda    13068161
Antarctica                                                   None           0
Argentina                                            Buenos Aires    41343201
American Samoa                                          Pago Pago       57881
Austria                                                    Vienna     8205000
Australia                                                Canberra    21515754
Aruba                                                  Oranjestad       71566
Åland                                                   Mariehamn       26711
Azerbaijan                                                   Baku     8303512
Bosnia and Herzegovina                                   Sarajevo     4590000
Barbados                                               Bridgetown      285653
Bangladesh                                                  Dhaka   156118464
Belgium                                                  Brussels    10403000
Burkina Faso                                          Ouagadougou    16241811
Bulgaria                                                    Sofia     7148785
Bahrain                                                    Manama      738004
Burundi                                                 Bujumbura     9863117
Benin                                                  Porto-Novo     9056010
Saint Barthélemy                                         Gustavia        8450
Bermuda                                                  Hamilton       65365
Brunei                                        Bandar Seri Begawan      395027
Bolivia                                                     Sucre     9947418
Bonaire                                                Kralendijk       18012
Brazil                                                   Brasília   201103330
Bahamas                                                    Nassau      301790
Bhutan                                                    Thimphu      699847
Bouvet Island                                                None           0
Botswana                                                 Gaborone     2029307
Belarus                                                     Minsk     9685000
Belize                                                   Belmopan      314522
Canada                                                     Ottawa    33679000
Cocos [Keeling] Islands                               West Island         628
Democratic Republic of the Congo                         Kinshasa    70916439
Central African Republic                                   Bangui     4844927
Republic of the Congo                                 Brazzaville     3039126
Switzerland                                                  Bern     7581000
Ivory Coast                                          Yamoussoukro    21058798
Cook Islands                                               Avarua       21388
Chile                                                    Santiago    16746491
Cameroon                                                  Yaoundé    19294149
China                                                     Beijing  1330044000
Colombia                                                   Bogotá    47790000
Costa Rica                                               San José     4516220
Cuba                                                       Havana    11423000
Cape Verde                                                  Praia      508659
Curacao                                                Willemstad      141766
Christmas Island                                 Flying Fish Cove        1500
Cyprus                                                    Nicosia     1102677
Czech Republic                                             Prague    10476000
Germany                                                    Berlin    81802257
Djibouti                                                 Djibouti      740528
Denmark                                                Copenhagen     5484000
Dominica                                                   Roseau       72813
Dominican Republic                                  Santo Domingo     9823821
Algeria                                                   Algiers    34586184
Ecuador                                                     Quito    14790608
Estonia                                                   Tallinn     1291170
Egypt                                                       Cairo    80471869
Western Sahara                                Laâyoune / El Aaiún      273008
Eritrea                                                    Asmara     5792984
Spain                                                      Madrid    46505963
Ethiopia                                              Addis Ababa    88013491
Finland                                                  Helsinki     5244000
Fiji                                                         Suva      875983
Falkland Islands                                          Stanley        2638
Micronesia                                                Palikir      107708
Faroe Islands                                            Tórshavn       48228
France                                                      Paris    64768389
Gabon                                                  Libreville     1545255
United Kingdom                                             London    62348447
Grenada                                              St. George's      107818
Georgia                                                   Tbilisi     4630000
French Guiana                                             Cayenne      195506
Guernsey                                            St Peter Port       65228
Ghana                                                       Accra    24339838
Gibraltar                                               Gibraltar       27884
Greenland                                                    Nuuk       56375
Gambia                                                   Bathurst     1593256
Guinea                                                    Conakry    10324025
Guadeloupe                                            Basse-Terre      443000
Equatorial Guinea                                          Malabo     1014999
Greece                                                     Athens    11000000
South Georgia and the South Sandwich Islands            Grytviken          30
Guatemala                                          Guatemala City    13550440
Guam                                                      Hagåtña      159358
Guinea-Bissau                                              Bissau     1565126
Guyana                                                 Georgetown      748486
Hong Kong                                               Hong Kong     6898686
Heard Island and McDonald Islands                            None           0
Honduras                                              Tegucigalpa     7989415
Croatia                                                    Zagreb     4491000
Haiti                                              Port-au-Prince     9648924
Hungary                                                  Budapest     9982000
Indonesia                                                 Jakarta   242968342
Ireland                                                    Dublin     4622917
Israel                                                       None     7353985
Isle of Man                                               Douglas       75049
India                                                   New Delhi  1173108018
British Indian Ocean Territory                               None        4000
Iraq                                                      Baghdad    29671605
Iran                                                       Tehran    76923300
Iceland                                                 Reykjavik      308910
Italy                                                        Rome    60340328
Jersey                                               Saint Helier       90812
Jamaica                                                  Kingston     2847232
Jordan                                                      Amman     6407085
Japan                                                       Tokyo   127288000
Kenya                                                     Nairobi    40046566
Kyrgyzstan                                                Bishkek     5776500
Cambodia                                               Phnom Penh    14453680
Kiribati                                                   Tarawa       92533
Comoros                                                    Moroni      773407
Saint Kitts and Nevis                                  Basseterre       51134
North Korea                                             Pyongyang    22912177
South Korea                                                 Seoul    48422644
Kuwait                                                Kuwait City     2789132
Cayman Islands                                        George Town       44270
Kazakhstan                                                 Astana    15340000
Laos                                                    Vientiane     6368162
Lebanon                                                    Beirut     4125247
Saint Lucia                                              Castries      160922
Liechtenstein                                               Vaduz       35000
Sri Lanka                                                 Colombo    21513990
Liberia                                                  Monrovia     3685076
Lesotho                                                    Maseru     1919552
Lithuania                                                 Vilnius     2944459
Luxembourg                                             Luxembourg      497538
Latvia                                                       Riga     2217969
Libya                                                     Tripoli     6461454
Morocco                                                     Rabat    31627428
Monaco                                                     Monaco       32965
Moldova                                                  Chişinău     4324000
Montenegro                                              Podgorica      666730
Saint Martin                                              Marigot       35925
Madagascar                                           Antananarivo    21281844
Marshall Islands                                           Majuro       65859
Macedonia                                                  Skopje     2062294
Mali                                                       Bamako    13796354
Myanmar [Burma]                                         Naypyitaw    53414374
Mongolia                                               Ulan Bator     3086918
Macao                                                       Macao      449198
Northern Mariana Islands                                   Saipan       53883
Martinique                                         Fort-de-France      432900
Mauritania                                             Nouakchott     3205060
Montserrat                                               Plymouth        9341
Malta                                                    Valletta      403000
Mauritius                                              Port Louis     1294104
Maldives                                                     Malé      395650
Malawi                                                   Lilongwe    15447500
Mexico                                                Mexico City   112468855
Malaysia                                             Kuala Lumpur    28274729
Mozambique                                                 Maputo    22061451
Namibia                                                  Windhoek     2128471
New Caledonia                                              Noumea      216494
Niger                                                      Niamey    15878271
Norfolk Island                                           Kingston        1828
Nigeria                                                     Abuja   154000000
Nicaragua                                                 Managua     5995928
Netherlands                                             Amsterdam    16645000
Norway                                                       Oslo     5009150
Nepal                                                   Kathmandu    28951852
Nauru                                                       Yaren       10065
Niue                                                        Alofi        2166
New Zealand                                            Wellington     4252277
Oman                                                       Muscat     2967717
Panama                                                Panama City     3410676
Peru                                                         Lima    29907003
French Polynesia                                          Papeete      270485
Papua New Guinea                                     Port Moresby     6064515
Philippines                                                Manila    99900177
Pakistan                                                Islamabad   184404791
Poland                                                     Warsaw    38500000
Saint Pierre and Miquelon                            Saint-Pierre        7012
Pitcairn Islands                                        Adamstown          46
Puerto Rico                                              San Juan     3916632
Palestine                                                    None     3800000
Portugal                                                   Lisbon    10676000
Palau                                                    Melekeok       19907
Paraguay                                                 Asunción     6375830
Qatar                                                        Doha      840926
Réunion                                               Saint-Denis      776948
Romania                                                 Bucharest    21959278
Serbia                                                   Belgrade     7344847
Russia                                                     Moscow   140702000
Rwanda                                                     Kigali    11055976
Saudi Arabia                                               Riyadh    25731776
Solomon Islands                                           Honiara      559198
Seychelles                                               Victoria       88340
Sudan                                                    Khartoum    35000000
Sweden                                                  Stockholm     9828655
Singapore                                               Singapore     4701069
Saint Helena                                            Jamestown        7460
Slovenia                                                Ljubljana     2007000
Svalbard and Jan Mayen                               Longyearbyen        2550
Slovakia                                               Bratislava     5455000
Sierra Leone                                             Freetown     5245695
San Marino                                             San Marino       31477
Senegal                                                     Dakar    12323252
Somalia                                                 Mogadishu    10112453
Suriname                                               Paramaribo      492829
South Sudan                                                  Juba     8260490
São Tomé and Príncipe                                    São Tomé      175808
El Salvador                                          San Salvador     6052064
Sint Maarten                                          Philipsburg       37429
Syria                                                    Damascus    22198110
Swaziland                                                 Mbabane     1354051
Turks and Caicos Islands                            Cockburn Town       20556
Chad                                                    N'Djamena    10543464
French Southern Territories                     Port-aux-Français         140
Togo                                                         Lomé     6587239
Thailand                                                  Bangkok    67089500
Tajikistan                                               Dushanbe     7487489
Tokelau                                                      None        1466
East Timor                                                   Dili     1154625
Turkmenistan                                             Ashgabat     4940916
Tunisia                                                     Tunis    10589025
Tonga                                                  Nuku'alofa      122580
Turkey                                                     Ankara    77804122
Trinidad and Tobago                                 Port of Spain     1228691
Tuvalu                                                   Funafuti       10472
Taiwan                                                     Taipei    22894384
Tanzania                                                   Dodoma    41892895
Ukraine                                                      Kiev    45415596
Uganda                                                    Kampala    33398682
U.S. Minor Outlying Islands                                  None           0
United States                                          Washington   310232863
Uruguay                                                Montevideo     3477000
Uzbekistan                                               Tashkent    27865738
Vatican City                                         Vatican City         921
Saint Vincent and the Grenadines                        Kingstown      104217
Venezuela                                                 Caracas    27223228
British Virgin Islands                                  Road Town       21730
U.S. Virgin Islands                              Charlotte Amalie      108708
Vietnam                                                     Hanoi    89571130
Vanuatu                                                 Port Vila      221552
Wallis and Futuna                                        Mata-Utu       16025
Samoa                                                        Apia      192001
Kosovo                                                   Pristina     1800000
Yemen                                                       Sanaa    23495361
Mayotte                                                 Mamoudzou      159042
South Africa                                             Pretoria    49000000
Zambia                                                     Lusaka    13460305
Zimbabwe                                                   Harare    11651858

                                                Area (km²) Persons per area
Country Name
Andorra                                             468.00           179.49
United Arab Emirates                             82,880.00            60.03
Afghanistan                                     647,500.00            44.97
Antigua and Barbuda                                 443.00           195.83

In [71]:
tot_pop = data['Population'].sum()
avg_pop = data['Population'].mean()
min_pop = data['Population'].min()
max_pop = data['Population'].max()

tot_area = data['Area (km\u00b2)'].sum()
avg_area = data['Area (km\u00b2)'].mean()
min_area = data['Area (km\u00b2)'].min()
max_area = data['Area (km\u00b2)'].max()

avg_pop_per_km2 = data['Persons per area'].mean()
min_pop_per_km2 = data['Persons per area'].min()
max_pop_per_km2 = data['Persons per area'].max()

# Calculate the non-zero minimum value for 'Persons per area'
min_pop_per_km2 = data.loc[data['Persons per area'] > 0, 'Persons per area'].min()

# Create a new DataFrame to store the aggregated values
summary_data = pd.DataFrame({
    'Population': [tot_pop, avg_pop, min_pop, max_pop],
    'Area (km\u00b2)': [tot_area, avg_area, min_area, max_area],
    'Persons per area': [np.nan, avg_pop_per_km2, min_pop_per_km2, max_pop_per_km2]
}, index=['Total', 'Average', 'Minimum', 'Maximum'])

# Displays output floats in non-scientific notation
pd.options.display.float_format = '{:,.2f}'.format

print(summary_data)

              Population     Area (km²)  Persons per area
Total   6,861,418,895.00 149,909,229.69               NaN
Average    27,445,675.58     602,045.10            306.79
Minimum             0.00           0.44              0.01
Maximum 1,330,044,000.00  17,100,000.00         16,905.13

In [72]:
# CMC project
driver = webdriver.Chrome(executable_path=driver_path)
driver.maximize_window()
# Get the url links for the top X number of Crypto's data you want to analyze.
def get_top_X_cryptocurrencies(driver):
    
    Top_X_Currencies = 5 # Input a number which will represent the top "X" cryptocurrencies by marketcap to analyze.
    num_links_ = Top_X_Currencies*4 # Adjustment needed to collect all the links neccessary.
    start_ = 1
    step_ = 4 # Step to ignore all but every 4th link that was gathered.
    wait_time = 20 # Maximum length you want driver to wait until timeout error.
    wait = WebDriverWait(driver, wait_time)
    url = 'https://coinmarketcap.com'
    driver.get(url)
    top_links = wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, 'tbody tr td a[href^="/currencies/"]')))[start_:num_links_:step_]
    return [link.get_attribute('href') for link in top_links] # Gets the href (link) for each coin.

top_links = get_top_X_cryptocurrencies(driver)
driver.quit()
top_links

['https://coinmarketcap.com/currencies/bitcoin/markets/',
 'https://coinmarketcap.com/currencies/ethereum/markets/',
 'https://coinmarketcap.com/currencies/tether/markets/',
 'https://coinmarketcap.com/currencies/bnb/markets/',
 'https://coinmarketcap.com/currencies/usd-coin/markets/']

In [73]:
# CMC project
driver = webdriver.Chrome(executable_path=driver_path)
driver.maximize_window()
# Gathers the required data from the markets data table at the top_links.
def get_top_market_data_for_each_coin(driver, link):
    max_retries = 3
    for _ in range(max_retries):
        try:
            wait_time = 5
            wait = WebDriverWait(driver, wait_time)
            
            driver.get(link)  # goes to the market page for the current coin

            time.sleep(2)  # Sleep for 2 seconds to let the page load

            table_location = (By.CSS_SELECTOR, 'table.cmc-table')
            first_row_location = (By.CSS_SELECTOR, 'table.cmc-table tbody tr:nth-of-type(1)')

            # Verify the table with all its elements are present and loaded.
            wait.until(EC.presence_of_all_elements_located(table_location))

            # Scroll to the first row of the table
            first_row_element = driver.find_element(*first_row_location)

            # Verify the visibility of the first row of the table
            wait.until(EC.visibility_of_element_located(first_row_location))

            td_elements = first_row_element.find_elements_by_tag_name("td")
            td_elements = [td for td in td_elements if td.get_attribute("style") != "display: none;"]  # Filter out hidden elements

            exchange = td_elements[1].text.strip()
            pair = td_elements[2].text.strip()
            price = td_elements[3].text.strip()
            plus_2_depth = td_elements[4].text.strip()
            minus_2_depth = td_elements[5].text.strip()
            volume = td_elements[6].text.strip()
            volume_pct = td_elements[7].text.strip()

            return {
                'Exchange': exchange,
                'Pair': pair,
                'Price': price,
                'plus_2_depth': plus_2_depth,
                'minus_2_depth': minus_2_depth,
                'Volume': volume,
                'Volume_Pct': volume_pct,
            }
        except (TimeoutException, IndexError) as e:
            print(f"Error: {e}. Retrying...")
            time.sleep(2)  # Sleep for 2 seconds before retrying
        else:
            break
    else:
        print(f"Failed to fetch data for {link} after {max_retries} retries.")
        return None

data = []

for link in top_links:
    top_market_data = get_top_market_data_for_each_coin(driver, link)
    if top_market_data is not None:
        data.append(top_market_data)
    else:
        print(f"Skipping data for {link}")

driver.quit()
print(data)

[{'Exchange': 'Binance', 'Pair': 'BTC/USDT', 'Price': '$29,346.81', 'plus_2_depth': '$63,760,546', 'minus_2_depth': '$32,634,164', 'Volume': '$2,220,191,421', 'Volume_Pct': '9.75%'}, {'Exchange': 'Binance', 'Pair': 'ETH/USDT', 'Price': '$1,986.19', 'plus_2_depth': '$33,595,756', 'minus_2_depth': '$14,106,693', 'Volume': '$1,425,752,684', 'Volume_Pct': '11.08%'}, {'Exchange': 'Binance', 'Pair': 'BTC/USDT', 'Price': '$1.0008', 'plus_2_depth': '$63,762,405', 'minus_2_depth': '$32,635,115', 'Volume': '$2,218,302,947', 'Volume_Pct': '5.57%'}, {'Exchange': 'Binance', 'Pair': 'BNB/USDT', 'Price': '$327.95', 'plus_2_depth': '$1,724,888', 'minus_2_depth': '$2,354,128', 'Volume': '$166,414,381', 'Volume_Pct': '20.63%'}, {'Exchange': 'Binance', 'Pair': 'USDC/USDT', 'Price': '$1.0003', 'plus_2_depth': '$23,749,570', 'minus_2_depth': '$14,216,935', 'Volume': '$358,040,471', 'Volume_Pct': '6.31%'}]

In [74]:
df = pd.DataFrame(data)
df.set_index('Pair', inplace=True)
# Converting strings to floats
df[['Price', 'plus_2_depth', 'minus_2_depth', 'Volume']] = df[['Price', 'plus_2_depth', 'minus_2_depth', 'Volume']].applymap(lambda x: float(x.replace('$', '').replace(',', '')))
df['Volume_Pct'] = df['Volume_Pct'].apply(lambda x: float(x.replace('%', '')))
volume_sum = f"{df['Volume'].sum():,.2f}"
volume_pct_avg = round(df['Volume_Pct'].mean(), 2)
print(df) # The second 'BTC/USDT' Pair represents USDT, since that is the most traded pair on the most traded exchange for UDST. 
print()
print("Volume Stats:")
print("Volume Sum:", volume_sum)
print("Volume Pct Average:", volume_pct_avg)

          Exchange     Price  plus_2_depth  minus_2_depth           Volume  \
Pair
BTC/USDT   Binance 29,346.81 63,760,546.00  32,634,164.00 2,220,191,421.00
ETH/USDT   Binance  1,986.19 33,595,756.00  14,106,693.00 1,425,752,684.00
BTC/USDT   Binance      1.00 63,762,405.00  32,635,115.00 2,218,302,947.00
BNB/USDT   Binance    327.95  1,724,888.00   2,354,128.00   166,414,381.00
USDC/USDT  Binance      1.00 23,749,570.00  14,216,935.00   358,040,471.00

           Volume_Pct
Pair
BTC/USDT         9.75
ETH/USDT        11.08
BTC/USDT         5.57
BNB/USDT        20.63
USDC/USDT        6.31

Volume Stats:
Volume Sum: 6,388,701,904.00
Volume Pct Average: 10.67

In [75]:
# Hockey Project
driver = webdriver.Chrome(executable_path=driver_path)
driver.get("https://www.scrapethissite.com/")

explore_button = driver.find_element_by_css_selector("a.btn.btn-lg.btn-default")
explore_button.click() 
time.sleep(1)  

link = driver.find_element_by_css_selector("h3.page-title a[href='/pages/forms/']")
link.click()
time.sleep(1)  

driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
dropdown = Select(driver.find_element_by_css_selector("select.form-control.col-md-3#per_page"))
dropdown.select_by_value('100')
time.sleep(3)

def process_page(driver):
    #time.sleep(3)
    # Find table rows
    table_rows = driver.find_elements_by_css_selector("table.table tbody tr.team")

    # Extract data from rows and append it to a list
    data_list = []
    for row in table_rows:
        team_data = [
            row.find_element_by_css_selector("td.name").text,
            int(row.find_element_by_css_selector("td.year").text),
            int(row.find_element_by_css_selector("td.wins").text),
            int(row.find_element_by_css_selector("td.losses").text),
            int(row.find_element_by_css_selector("td.ot-losses").text or 0),
            float(row.find_element_by_css_selector("td.pct").text),
            int(row.find_element_by_css_selector("td.gf").text),
            int(row.find_element_by_css_selector("td.ga").text),
            int(row.find_element_by_css_selector("td.diff").text),
        ]
        data_list.append(team_data)

    return data_list

# Click the "Next" button once to set the correct starting URL
next_button = driver.find_element_by_css_selector("ul.pagination li a[aria-label='Next']")
next_button.click()
time.sleep(1)

# Create empty list for all the data
all_data = []

# Loop until there are no more pages
while True:
    # Process the current page
    page_data = process_page(driver)
    all_data.extend(page_data)

    # Try to click the "Next" button to go to the next page
    try:
        next_button = driver.find_element_by_css_selector("ul.pagination li a[aria-label='Next']")
        next_button.click()
        time.sleep(1)
    except NoSuchElementException:
        # No "Next" button found, so this is the last page
        break

# Create a DataFrame with the extracted data and specified columns
columns = ['Team Name', 'Year', 'Wins', 'Losses', 'OT Losses', 'Win %', 'Goals For (GF)', 'Goals Against (GA)', '+/-']
data = pd.DataFrame(all_data, columns=columns)
data.set_index('Team Name', inplace=True)
print(data)
driver.quit()

                         Year  Wins  Losses  OT Losses  Win %  Goals For (GF)  \
Team Name
Boston Bruins            1990    44      24          0   0.55             299
Buffalo Sabres           1990    31      30          0   0.39             292
Calgary Flames           1990    46      26          0   0.57             344
Chicago Blackhawks       1990    49      23          0   0.61             284
Detroit Red Wings        1990    34      38          0   0.42             273
Edmonton Oilers          1990    37      37          0   0.46             272
Hartford Whalers         1990    31      38          0   0.39             238
Los Angeles Kings        1990    46      24          0   0.57             340
Minnesota North Stars    1990    27      39          0   0.34             256
Montreal Canadiens       1990    39      30          0   0.49             273
New Jersey Devils        1990    32      33          0   0.40             272
New York Islanders       1990    25      45          0   0.31             223
New York Rangers         1990    36      31          0   0.45             297
Philadelphia Flyers      1990    33      37          0   0.41             252
Pittsburgh Penguins      1990    41      33          0   0.51             342
Quebec Nordiques         1990    16      50          0   0.20             236
St. Louis Blues          1990    47      22          0   0.59             310
Toronto Maple Leafs      1990    23      46          0   0.29             241
Vancouver Canucks        1990    28      43          0   0.35             243
Washington Capitals      1990    37      36          0   0.46             258
Winnipeg Jets            1990    26      43          0   0.33             260
Boston Bruins            1991    36      32          0   0.45             270
Buffalo Sabres           1991    31      37          0   0.39             289
Calgary Flames           1991    31      37          0   0.39             296
Chicago Blackhawks       1991    36      29          0   0.45             257
Detroit Red Wings        1991    43      25          0   0.54             320
Edmonton Oilers          1991    36      34          0   0.45             295
Hartford Whalers         1991    26      41          0   0.33             247
Los Angeles Kings        1991    35      31          0   0.44             287
Minnesota North Stars    1991    32      42          0   0.40             246
Montreal Canadiens       1991    41      28          0   0.51             267
New Jersey Devils        1991    38      31          0   0.47             289
New York Islanders       1991    34      35          0   0.42             291
New York Rangers         1991    50      25          0   0.62             321
Philadelphia Flyers      1991    32      37          0   0.40             252
Pittsburgh Penguins      1991    39      32          0   0.49             343
Quebec Nordiques         1991    20      48          0   0.25             255
San Jose Sharks          1991    17      58          0   0.21             219
St. Louis Blues          1991    36      33          0   0.45             279
Toronto Maple Leafs      1991    30      43          0   0.38             234
Vancouver Canucks        1991    42      26          0   0.53             285
Washington Capitals      1991    45      27          0   0.56             330
Winnipeg Jets            1991    33      32          0   0.41             251
Boston Bruins            1992    51      26          0   0.61             332
Buffalo Sabres           1992    38      36          0   0.45             335
Calgary Flames           1992    43      30          0   0.51             322
Chicago Blackhawks       1992    47      25          0   0.56             279
Detroit Red Wings        1992    47      28          0   0.56             369
Edmonton Oilers          1992    26      50          0   0.31             242
Hartford Whalers         1992    26      52          0   0.31             284
Los Angeles Kings        1992    39      35          0   0.46             338
Minnesota North Stars    1992    36      38          0   0.43             272
Montreal Canadiens       1992    48      30          0   0.57             326
New Jersey Devils        1992    40      37          0   0.48             308
New York Islanders       1992    40      37          0   0.48             335
New York Rangers         1992    34      39          0   0.41             304
Ottawa Senators          1992    10      70          0   0.12             202
Philadelphia Flyers      1992    36      37          0   0.43             319
Pittsburgh Penguins      1992    56      21          0   0.67             367
Quebec Nordiques         1992    47      27          0   0.56             351
San Jose Sharks          1992    11      71          0   0.13             218
St. Louis Blues          1992    37      36          0   0.44             282
Tampa Bay Lightning      1992    23      54          0   0.27             245
Toronto Maple Leafs      1992    44      29          0   0.52             288
Vancouver Canucks        1992    46      29          0   0.55             346
Washington Capitals      1992    43      34          0   0.51             325
Winnipeg Jets            1992    40      37          0   0.48             322
Mighty Ducks of Anaheim  1993    33      46          0   0.39             229
Boston Bruins            1993    42      29          0   0.50             289
Buffalo Sabres           1993    43      32          0   0.51             282
Calgary Flames           1993    42      29          0   0.50             302
Chicago Blackhawks       1993    39      36          0   0.46             254
Dallas Stars             1993    42      29          0   0.50             286
Detroit Red Wings        1993    46      30          0   0.55             356
Edmonton Oilers          1993    25      45          0   0.30             261
Florida Panthers         1993    33      34          0   0.39             233
Hartford Whalers         1993    27      48          0   0.32             227
Los Angeles Kings        1993    27      45          0   0.32             294
Montreal Canadiens       1993    41      29          0   0.49             283
New Jersey Devils        1993    47      25          0   0.56             306
New York Islanders       1993    36      36          0   0.43             282
New York Rangers         1993    52      24          0   0.62             299
Ottawa Senators          1993    14      61          0   0.17             201
Philadelphia Flyers      1993    35      39          0   0.42             294
Pittsburgh Penguins      1993    44      27          0   0.52             299
Quebec Nordiques         1993    34      42          0   0.41             277
San Jose Sharks          1993    33      35          0   0.39             252
St. Louis Blues          1993    40      33          0   0.48             270
Tampa Bay Lightning      1993    30      43          0   0.36             224
Toronto Maple Leafs      1993    43      29          0   0.51             280
Vancouver Canucks        1993    41      40          0   0.49             279
Washington Capitals      1993    39      35          0   0.46             277
Winnipeg Jets            1993    24      51          0   0.29             245
Mighty Ducks of Anaheim  1994    16      27          0   0.33             125
Boston Bruins            1994    27      18          0   0.56             150
Buffalo Sabres           1994    22      19          0   0.46             130
Calgary Flames           1994    24      17          0   0.50             163
Chicago Blackhawks       1994    24      19          0   0.50             156
Dallas Stars             1994    17      23          0   0.35             136
Detroit Red Wings        1994    33      11          0   0.69             180
Edmonton Oilers          1994    17      27          0   0.35             136
Florida Panthers         1994    20      22          0   0.42             115
Hartford Whalers         1994    19      24          0   0.40             127
Los Angeles Kings        1994    16      23          0   0.33             142
Montreal Canadiens       1994    18      23          0   0.38             125
New Jersey Devils        1994    22      18          0   0.46             136
New York Islanders       1994    15      28          0   0.31             126
New York Rangers         1994    22      23          0   0.46             139
Ottawa Senators          1994     9      34          0   0.19             117
Philadelphia Flyers      1994    28      16          0   0.58             150
Pittsburgh Penguins      1994    29      16          0   0.60             181
Quebec Nordiques         1994    30      13          0   0.62             185
San Jose Sharks          1994    19      25          0   0.40             129
St. Louis Blues          1994    28      15          0   0.58             178
Tampa Bay Lightning      1994    17      28          0   0.35             120
Toronto Maple Leafs      1994    21      19          0   0.44             135
Vancouver Canucks        1994    18      18          0   0.38             153
Washington Capitals      1994    22      18          0   0.46             136
Winnipeg Jets            1994    16      25          0   0.33             157
Mighty Ducks of Anaheim  1995    35      39          0   0.43             234
Boston Bruins            1995    40      31          0   0.49             282
Buffalo Sabres           1995    33      42          0   0.40             247
Calgary Flames           1995    34      37          0   0.41             241
Chicago Blackhawks       1995    40      28          0   0.49             273
Colorado Avalanche       1995    47      25          0   0.57             326
Dallas Stars             1995    26      42          0   0.32             227
Detroit Red Wings        1995    62      13          0   0.76             325
Edmonton Oilers          1995    30      44          0   0.37             240
Florida Panthers         1995    41      31          0   0.50             254
Hartford Whalers         1995    34      39          0   0.41             237
Los Angeles Kings        1995    24      40          0   0.29             256
Montreal Canadiens       1995    40      32          0   0.49             265
New Jersey Devils        1995    37      33          0   0.45             215
New York Islanders       1995    22      50          0   0.27             229
New York Rangers         1995    41      27          0   0.50             272
Ottawa Senators          1995    18      59          0   0.22             191
Philadelphia Flyers      1995    45      24          0   0.55             282
Pittsburgh Penguins      1995    49      29          0   0.60             362
San Jose Sharks          1995    20      55          0   0.24             252
St. Louis Blues          1995    32      34          0   0.39             219
Tampa Bay Lightning      1995    38      32          0   0.46             238
Toronto Maple Leafs      1995    34      36          0   0.41             247
Vancouver Canucks        1995    32      35          0   0.39             278
Washington Capitals      1995    39      32          0   0.48             234
Winnipeg Jets            1995    36      40          0   0.44             275
Mighty Ducks of Anaheim  1996    36      33          0   0.44             245
Boston Bruins            1996    26      47          0   0.32             234
Buffalo Sabres           1996    40      30          0   0.49             237
Calgary Flames           1996    32      41          0   0.39             214
Chicago Blackhawks       1996    34      35          0   0.41             223
Colorado Avalanche       1996    49      24          0   0.60             277
Dallas Stars             1996    48      26          0   0.58             252
Detroit Red Wings        1996    38      26          0   0.46             253
Edmonton Oilers          1996    36      37          0   0.44             252
Florida Panthers         1996    35      28          0   0.43             221
Hartford Whalers         1996    32      39          0   0.39             226
Los Angeles Kings        1996    28      43          0   0.34             214
Montreal Canadiens       1996    31      36          0   0.38             249
New Jersey Devils        1996    45      23          0   0.55             231
New York Islanders       1996    29      41          0   0.35             240
New York Rangers         1996    38      34          0   0.46             258
Ottawa Senators          1996    31      36          0   0.38             226
Philadelphia Flyers      1996    45      24          0   0.55             274
Phoenix Coyotes          1996    38      37          0   0.46             240
Pittsburgh Penguins      1996    38      36          0   0.46             285
San Jose Sharks          1996    27      47          0   0.33             211
St. Louis Blues          1996    36      35          0   0.44             236
Tampa Bay Lightning      1996    32      40          0   0.39             217
Toronto Maple Leafs      1996    30      44          0   0.37             230
Vancouver Canucks        1996    35      40          0   0.43             257
Washington Capitals      1996    33      40          0   0.40             214
Mighty Ducks of Anaheim  1997    26      43          0   0.32             205
Boston Bruins            1997    39      30          0   0.48             221
Buffalo Sabres           1997    36      29          0   0.44             211
Calgary Flames           1997    26      41          0   0.32             217
Carolina Hurricanes      1997    33      41          0   0.40             200
Chicago Blackhawks       1997    30      39          0   0.37             192
Colorado Avalanche       1997    39      26          0   0.48             231
Dallas Stars             1997    49      22          0   0.60             242
Detroit Red Wings        1997    44      23          0   0.54             250
Edmonton Oilers          1997    35      37          0   0.43             215
Florida Panthers         1997    24      43          0   0.29             203
Los Angeles Kings        1997    38      33          0   0.46             227
Montreal Canadiens       1997    37      32          0   0.45             235
New Jersey Devils        1997    48      23          0   0.58             225
New York Islanders       1997    30      41          0   0.37             212
New York Rangers         1997    25      39          0   0.30             197
Ottawa Senators          1997    34      33          0   0.41             193
Philadelphia Flyers      1997    42      29          0   0.51             242
Phoenix Coyotes          1997    35      35          0   0.43             224
Pittsburgh Penguins      1997    40      24          0   0.49             228
San Jose Sharks          1997    34      38          0   0.41             210
St. Louis Blues          1997    45      29          0   0.55             256
Tampa Bay Lightning      1997    17      55          0   0.21             151
Toronto Maple Leafs      1997    30      43          0   0.37             194
Vancouver Canucks        1997    25      43          0   0.30             224
Washington Capitals      1997    40      30          0   0.49             219
Mighty Ducks of Anaheim  1998    35      34          0   0.43             215
Boston Bruins            1998    39      30          0   0.48             214
Buffalo Sabres           1998    37      28          0   0.45             207
Calgary Flames           1998    30      40          0   0.37             211
Carolina Hurricanes      1998    34      30          0   0.41             210
Chicago Blackhawks       1998    29      41          0   0.35             202
Colorado Avalanche       1998    44      28          0   0.54             239
Dallas Stars             1998    51      19          0   0.62             236
Detroit Red Wings        1998    43      32          0   0.52             245
Edmonton Oilers          1998    33      37          0   0.40             230
Florida Panthers         1998    30      34          0   0.37             210
Los Angeles Kings        1998    32      45          0   0.39             189
Montreal Canadiens       1998    32      39          0   0.39             184
Nashville Predators      1998    28      47          0   0.34             190
New Jersey Devils        1998    47      24          0   0.57             248
New York Islanders       1998    24      48          0   0.29             194
New York Rangers         1998    33      38          0   0.40             217
Ottawa Senators          1998    44      23          0   0.54             239
Philadelphia Flyers      1998    37      26          0   0.45             231
Phoenix Coyotes          1998    39      31          0   0.48             205
Pittsburgh Penguins      1998    38      30          0   0.46             242
San Jose Sharks          1998    31      33          0   0.38             196
St. Louis Blues          1998    37      32          0   0.45             237
Tampa Bay Lightning      1998    19      54          0   0.23             179
Toronto Maple Leafs      1998    45      30          0   0.55             268
Vancouver Canucks        1998    23      47          0   0.28             192
Washington Capitals      1998    31      45          0   0.38             200
Mighty Ducks of Anaheim  1999    34      33          3   0.41             217
Atlanta Thrashers        1999    14      57          4   0.17             170
Boston Bruins            1999    24      33          6   0.29             210
Buffalo Sabres           1999    35      32          4   0.43             213
Calgary Flames           1999    31      36          5   0.38             211
Carolina Hurricanes      1999    37      35          0   0.45             217
Chicago Blackhawks       1999    33      37          2   0.40             242
Colorado Avalanche       1999    42      28          1   0.51             233
Dallas Stars             1999    43      23          6   0.52             211
Detroit Red Wings        1999    48      22          2   0.58             278
Edmonton Oilers          1999    32      26          8   0.39             226
Florida Panthers         1999    43      27          6   0.52             244
Los Angeles Kings        1999    39      27          4   0.48             245
Montreal Canadiens       1999    35      34          4   0.43             196
Nashville Predators      1999    28      40          7   0.34             199
New Jersey Devils        1999    45      24          5   0.55             251
New York Islanders       1999    24      48          1   0.29             194
New York Rangers         1999    29      38          3   0.35             218
Ottawa Senators          1999    41      28          2   0.50             244
Philadelphia Flyers      1999    45      22          3   0.55             237
Phoenix Coyotes          1999    39      31          4   0.48             232
Pittsburgh Penguins      1999    37      31          6   0.45             241
San Jose Sharks          1999    35      30          7   0.43             225
St. Louis Blues          1999    51      19          1   0.62             248
Tampa Bay Lightning      1999    19      47          7   0.23             204
Toronto Maple Leafs      1999    45      27          3   0.55             246
Vancouver Canucks        1999    30      29          8   0.37             227
Washington Capitals      1999    44      24          2   0.54             227
Mighty Ducks of Anaheim  2000    25      41          5   0.30             188
Atlanta Thrashers        2000    23      45          2   0.28             211
Boston Bruins            2000    36      30          8   0.44             227

In [76]:
# Oscar Winners Project
driver = webdriver.Chrome(executable_path=driver_path)
driver.get("https://www.scrapethissite.com/")

explore_button = driver.find_element_by_css_selector("a.btn.btn-lg.btn-default")
explore_button.click() 
time.sleep(1)  

link = driver.find_element_by_css_selector("h3.page-title a[href='/pages/ajax-javascript/']")
link.click()
time.sleep(1)  

def process_page(driver):
    # Create empty df to store the data
    df = pd.DataFrame(columns=['Year', 'Film', 'Nominations', 'Awards', 'Best Picture'])
    # Iterate through the years 2010 to 2015
    for year in range(2010, 2016):

        year_link = driver.find_element_by_css_selector(f'a.year-link[id="{year}"]')
        year_link.click()

        WebDriverWait(driver, 30).until(EC.invisibility_of_element_located((By.CSS_SELECTOR, '.spinner')))
        time.sleep(2)

        # Scrape the data from the table
        table_rows = driver.find_elements_by_css_selector('tbody#table-body tr.film')
        for row in table_rows:
            film_title = row.find_element_by_css_selector('td.film-title').text
            film_nominations = int(row.find_element_by_css_selector('td.film-nominations').text)
            film_awards = int(row.find_element_by_css_selector('td.film-awards').text)
            best_picture_flag = len(row.find_elements_by_css_selector('td.film-best-picture i.glyphicon-flag')) > 0

            # Create a temporary DataFrame with the current row data
            temp_df = pd.DataFrame({
                'Year': [year],
                'Film': [film_title],
                'Nominations': [film_nominations],
                'Awards': [film_awards],
                'Best Picture': ['★' if best_picture_flag else '']
            })

            # Concatenate the temporary DataFrame with the main DataFrame
            df = pd.concat([df, temp_df], ignore_index=True)

    df.set_index('Film', inplace=True)
    driver.quit()
    print(df)

process_page(driver)

                                                   Year Nominations Awards  \
Film
The King's Speech                                  2010          12      4
Inception                                          2010           8      4
The Social Network                                 2010           8      3
The Fighter                                        2010           7      2
Toy Story 3                                        2010           5      2
Alice in Wonderland                                2010           3      2
Black Swan                                         2010           5      1
In a Better World                                  2010           1      1
The Lost Thing                                     2010           1      1
God of Love                                        2010           1      1
The Wolfman                                        2010           1      1
Strangers No More                                  2010           1      1
Inside Job                                         2010           1      1
The Artist                                         2011          10      5
Hugo                                               2011          11      5
The Iron Lady                                      2011           2      2
The Descendants                                    2011           5      1
The Girl with the Dragon Tattoo                    2011           5      1
Midnight in Paris                                  2011           4      1
The Help                                           2011           4      1
A Separation                                       2011           2      1
The Fantastic Flying Books of Mr. Morris Lessmore  2011           1      1
The Shore                                          2011           1      1
Undefeated                                         2011           1      1
The Muppets                                        2011           1      1
Saving Face                                        2011           1      1
Beginners                                          2011           1      1
Rango                                              2011           1      1
Argo                                               2012           7      3
Life of Pi                                         2012          11      4
Les Misérables                                     2012           8      3
Lincoln                                            2012          12      2
Django Unchained                                   2012           5      2
Skyfall                                            2012           5      2
Silver Linings Playbook                            2012           8      1
Zero Dark Thirty                                   2012           5      1
Amour                                              2012           5      1
Anna Karenina                                      2012           4      1
Paperman                                           2012           1      1
Brave                                              2012           1      1
Searching for Sugar Man                            2012           1      1
Inocente                                           2012           1      1
Curfew                                             2012           1      1
12 Years a Slave                                   2013           9      3
Gravity                                            2013          10      7
Dallas Buyers Club                                 2013           6      3
Frozen                                             2013           2      2
The Great Gatsby                                   2013           2      2
Her                                                2013           5      1
Blue Jasmine                                       2013           3      1
Mr Hublot                                          2013           1      1
The Lady in Number 6: Music Saved My Life          2013           1      1
Helium                                             2013           1      1
The Great Beauty                                   2013           1      1
20 Feet from Stardom                               2013           1      1
Birdman                                            2014           9      4
The Grand Budapest Hotel                           2014           9      4
Whiplash                                           2014           5      3
The Imitation Game                                 2014           8      1
American Sniper                                    2014           6      1
Boyhood                                            2014           6      1
Interstellar                                       2014           5      1
The Theory of Everything                           2014           5      1
Ida                                                2014           2      1
Selma                                              2014           2      1
Citizenfour                                        2014           1      1
Big Hero 6                                         2014           1      1
Crisis Hotline: Veterans Press 1                   2014           1      1
The Phone Call                                     2014           1      1
Still Alice                                        2014           1      1
Feast                                              2014           1      1
Spotlight                                          2015           6      2
Mad Max: Fury Road                                 2015          10      6
The Revenant                                       2015          12      3
Bridge of Spies                                    2015           6      1
The Big Short                                      2015           5      1
The Danish Girl                                    2015           4      1
Room                                               2015           4      1
Ex Machina                                         2015           2      1
The Hateful Eight                                  2015           2      1
Inside Out                                         2015           2      1
Amy                                                2015           1      1
Bear Story                                         2015           1      1
A Girl in the River: The Price of Forgiveness      2015           1      1
Son of Saul                                        2015           1      1
Spectre                                            2015           1      1
Stutterer                                          2015           1      1

                                                  Best Picture
Film
The King's Speech                                            ★
Inception
The Social Network
The Fighter
Toy Story 3
Alice in Wonderland
Black Swan
In a Better World
The Lost Thing
God of Love
The Wolfman
Strangers No More
Inside Job
The Artist                                                   ★
Hugo
The Iron Lady
The Descendants
The Girl with the Dragon Tattoo
Midnight in Paris
The Help
A Separation
The Fantastic Flying Books of Mr. Morris Lessmore
The Shore
Undefeated
The Muppets
Saving Face
Beginners
Rango
Argo                                                         ★
Life of Pi
Les Misérables
Lincoln
Django Unchained
Skyfall
Silver Linings Playbook
Zero Dark Thirty
Amour
Anna Karenina
Paperman
Brave
Searching for Sugar Man
Inocente
Curfew
12 Years a Slave                                             ★
Gravity
Dallas Buyers Club
Frozen
The Great Gatsby
Her
Blue Jasmine
Mr Hublot
The Lady in Number 6: Music Saved My Life
Helium
The Great Beauty
20 Feet from Stardom
Birdman                                                      ★
The Grand Budapest Hotel
Whiplash
The Imitation Game
American Sniper
Boyhood
Interstellar
The Theory of Everything
Ida
Selma
Citizenfour
Big Hero 6
Crisis Hotline: Veterans Press 1
The Phone Call
Still Alice
Feast
Spotlight                                                    ★
Mad Max: Fury Road
The Revenant
Bridge of Spies
The Big Short
The Danish Girl
Room
Ex Machina
The Hateful Eight
Inside Out
Amy
Bear Story
A Girl in the River: The Price of Forgiveness
Son of Saul
Spectre
Stutterer